<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stakerr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/style.css"/>
</head>
	<body>

    <div class="container-fluid">
	<div class="navbar-fixed">
            <nav id="stakerr">
                <div class="nav-wrapper teal">
                    <a href="#!" class="brand-logo">Stakerr</a>
                        <ul class="right hide-on-med-and-down">
                        <li><a href="/">Home</a></li>
                        <li><a href="/myaccount">My Account</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/logout">Logout</a></li>
                        </ul>
                    
                </div>
            </nav>
    </div>
    </div>
	
		{{{ body }}}

    
<!-- Element Showed -->

<div class="container-fluid">
  <div class="fixed-action-btn update" style="bottom: 45px; right: 24px;">
        <a id="menu" class="btn btn-floating btn-large teal"  onclick="$('.tap-target').tapTarget('open')"><i class="material-icons">menu</i></a>
      </div>

<!-- Tap Target Structure -->
  <div class="tap-target teal" data-activates="menu">
    <div class="tap-target-content white-text">
      <h5>Your Balance</h5>
      <h5><span id="account">{{userBalance}}</span></h5>
      <hr>
      <h5><a href="/create" id="createGoalLink"><button class="btn">Create a Goal</button></a></h5>
      
    </div>
  </div>


	<div class="footer">
  <p>Copyright © 2018 Stakerr</p>
</div>


    </div>
    
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="/public/app.js"></script>
</body>

</html>

<style>
    #createGoalLink {
        color: white;
        
    }
   .footer {
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom:15px;
    padding-left: 5px;
    background-color: #419388;
    color: white;

    padding-top: 10px;
    height: 65px;
    
  }
</style>