<div class="container">
    <h4>Create a Goal</h4>
    <div class="divider"></div><br>
    <div class="row">
        <div class="col s6" id="creatgoalcard">
        <form id="createGoal">
            <div class="input-field">
                <input type="text" id="task" data-length="50" class="validate" required name="goal_text">
                <label for="task" data-success="">Task <span id="star">*</span></label>
            </div><br>
            
            <div class="input-field">
               <a class='dropdown-button btn' href='#' data-activates='dropdown1' id="timeframe" style="float:right">Timeframe</a>
               
                <ul id='dropdown1' class='dropdown-content'>
                   <li><a href="#!" id="shortTerm">Short Term</a></li>
                   <li class="divider"></li>
                   <li><a href="#!" id="longTerm">Long Term</a></li>
                </ul>
            
                <input type="time" id="timeframeEntry" name="goal_end" class="validate" required>
                <label for="timeframeEntry">End Date <span id="star">*</span></label><br><br>
            </div>
            
            <div class="input-field">
                <input type="number" id="stake" class="validate" required name="max_wager">
                <label for="stake">Maximum Stake <span id="star">*</span></label><br><br>
            </div>

            <div class="input-field">
                    <input type="text" id="description" data-length="200" class="validate" name="descript"></input>
                    <label for="description">Description</label>
            </div><br>

            <button class="btn modal-trigger" data-target="modal1" id="mdl1" type="submit" style="width: 100%">Submit</button>
        </form>
        </div>

        <div class="col s2"></div>

        <div class="col s4"><img class="materialboxed" src="https://robohash.org/{{id}}png?bgset=bg2&size=185x185" style="margin-left: auto; margin-right: auto">
            <p>
                <ul id="mid">
                    <li><h5>{{user}}</h5></li><br>
                    <li>Credit Balance: {{userBalance}}</li>
                    <li><a href="/myaccount">Add Credits</a></li>
                </ul>
            </p>
        </div>
    </div>
</div>

<!-- Modals -->

<div id="modal1" class="modal">
        <div class="modal-content">
          <h5>Please review your goal</h5><br>
          <div class="row">
                    <ul>
                        <li><p id="modalGoalText">Raise $10,000 for charity.</p></li><br>
                        <li><p>Max Stake Amount: <b id="modalMaxWager">10</b></p></li>
                        <li><p>Completed by <b id="modalGoalEnd">1/1/2019</b></p></li>
                        <li><p>Your Remaining Balance: <b>490</b></p></li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="modal-footer">
          <a href="#!" id="goalSubmit" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="Materialize.toast('Goal successfully created', 4000)">Create</a>
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
</div>

<div id="modal2" class="modal">
        <div class="modal-content">
          <h5>Please fill out the required fields and try again.</h5><br>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
</div>

<div id="modal3" class="modal">
        <div class="modal-content">
          <h5>Insufficient balance</h5><br>
          <a href="#"><p>Click here to purchase additional credits</p></a>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
</div>

<style>
    #createGoal{
        background-color: #5C6C76;
        padding: 20px;
        color: white;
        box-shadow: -12px 11px 36px 8px rgba(0,0,0,0.56);
    }
    
</style>