<div class="container">
    <div class="row-newUser">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <h5>Create Account</h5>
    <hr>

                </div>
                <div class="card-action">
                    <form action="/newuser" method="POST">
                        <div class="input-field">
                        <input placeholder="ENTER ID" id="user_name" type="text" class="validate" name="user" required>
                        <label for="username">User Name</label>
                        </div>
                        <br>
                        <div class="input-field">
                        <input placeholder="ENTER PASSWORD" id="user_pw" type="password" class="validate" name="user_pw" required>
                        <label for="password">Password</label>
                        </div>
                        <br>
                        <div class="input-field">
                        <input placeholder="ENTER EMAIL" id="email" type="email" class="validate" name="email">
                        <label for="email">E-mail address</label>
                        </div>
                        <br>
                        <div class="input-field">
                        <input placeholder="ENTER PHONE NUMBER" id="phone" type="text" class="validate" name="phone">
                        <label for="phone">Phone</label>
                        </div>
                        <br>
                        <button type="submit" class="waves-effect waves-light btn" id="signUpButton">Create Account!</button>
                        <br>
                        <br>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .row-newUser {
        max-width: 50%;
        margin-left: 25%;
        margin-top: 35px;
        color:white;
        box-shadow: -12px 11px 36px 8px rgba(0,0,0,0.56);
        
    }
</style>