body {
    position: relative;
    margin: 0;
    padding-bottom: 12rem;
    min-height: 100%;
    background-size: cover;
    
    background-color: lightgray;
}

  main {
    flex: 1 0 auto;
  }

h5, h6, #mid {
    text-align: center;
}

#info {
    float: left;
    margin: 0% 3% 0% 3%;
}

#star {
    color: red;
}

/* .brand-logo {
    margin-left: 30px;
} */

p {
    text-align: center;
    color: #8c8c8c
}

.mr {
    display: none;
}

#logoutpage {
    max-width:40%;
    margin-left:30%;
    margin-top: 35px;
    align-content: center;
    background-color: #596D78;
    padding: 20px;
    box-shadow: -12px 11px 36px 8px rgba(0,0,0,0.56);
    color: white;
}

#goalCard {
    box-shadow: -12px 11px 36px 8px rgba(0,0,0,0.56);
    color: white;
    background-color: #596D78;
           }

@media screen and (max-width: 600px) {
    #info {
        width: 95%;
        margin-bottom: 10% 
    }
    #feedView, #feedFollow, {
        display: inline-block;
        width: auto;
        float: none
    }
    .mr {
        display: block
    }
    #mresp {
        display: none
    }
    #smallscreen {
        display: inline-block
    }
  
}